/*Selector universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/*Inicio login*/
}
.form-register{
    /*Ancho del area del contenido del login*/
    width: 400px;
    /* Define los valores individuales del fondo*/
    background: #24303c;
    /* Es el margen y relleno asociado a la interfaz de usuario es de forma retangular y el 
    relleno es el espacio interno entre el cuerpo del elemento de la 
    interfaz de usuario y su borde.  */ 
    padding: 30px;
    /*Centra automaticamente el login*/
    margin:auto;
    /*Margen superior*/
    margin-top: 100px;
    /*Redondeo de esquina*/
    border-radius: 4px;
    /*Fuente de letra*/
    font-family: "calibri";
    /*Color a la hora de llenar los campos*/
    color:white;
    /*Sombra del cuadrado donde tenempos el login*/
    box-shadow: 7px 13px 37px #000;
}

.form-register h4{
    /*Dimencion de la letra*/
    font-size: 22px;
    /*Espacio de la parte inferior de login*/
    margin-bottom: 20px;

}

.controls{
    /*Ancho del area del contenido de la clase controls*/
    width: 100%;
    /* Define los valores individuales del fondo*/
    background: #24303c;
    /* Es el margen y relleno asociado a la interfaz de usuario es de forma retangular y el 
    relleno es el espacio interno entre el cuerpo del elemento de la 
    interfaz de usuario y su borde.  */
    padding: 10px;
     /*Redondeo de esquina*/
    border-radius: 4px;
    /*Espacio de la parte inferior de login*/
    margin-bottom: 16px;
    /*Define a todos los borders*/
    border: 1px solid #1f53c5;
    /*Fuente de la letra*/
    font-family: 'calibri';
    /*Dimencion de la letra*/
    font-size: 18px;
    /*Color del texto*/
    color:white;
}
.form-register p{
    /*Altura de un elemento*/
    height: 40px;
    /*Ubicacion del texto*/
    text-align: center;
    /*Dimencion de la letra */
    font-size: 15px;
    /*Altura de la casilla*/
    line-height: 40px;

}

.form-register a:hover{
    /*Color del texto*/
    color: white;
    /*Texto subrallado*/
    text-decoration: underline;
}

.form-register .botons{
    /*Ancho del area del contenido del boton*/
    width:100%;
    /* Define los valores individuales del fondo*/
    background: #1f53c5;
    /*No da borde*/
    border: none;
    /* Es el margen y relleno asociado a la interfaz de usuario es de forma retangular y el 
    relleno es el espacio interno entre el cuerpo del elemento de la 
    interfaz de usuario y su borde.  */
    padding: 12px;
    /*Color del texto*/
    color: white;
    /* Establece el margen del elemento*/ 
    margin: 16px 0;
    /*Dimenciones de la letra*/
    font-size: 16px;
}
/*Fin login*/ 

 /*Formulario */
.formulario{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin:auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color:white;
    box-shadow: 7px 13px 37px #000;
}

.formulario h4{
    font-size: 22px;
    margin-bottom: 20px;

}

.etiqueta{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color:white;
}

.formulario p{
    height: 40px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;

}

.formulario a:hover{
    color: white;
    text-decoration: underline;
}

.formulario .botons{
    width:100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
/*Fin formulario*/

/*Inicio de recuperacion de contraseña*/
.recuperar{
    /*Ancho del area del contenido del login*/
    width: 400px;
    /* Define los valores individuales del fondo*/
    background: #24303c;
    
    padding: 30px;
    margin:auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color:white;
    box-shadow: 7px 13px 37px #000;
}

.recuperar h4{
    font-size: 22px;
    margin-bottom: 20px;

}

.recupera{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color:white;
}

.recuperar p{
    height: 40px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;

}

.recuperar a:hover{
    color: white;
    text-decoration: underline;
}

.recuperar .botons{
    width:100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
/*Fin de recuperacion de contraseña*/